/* styles\img.css */


 h1 {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
  }
  
  
  .full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
  }
  